body{
    margin : 0;
}

container{
    background-color : dodgerblue;
    display : flex;
    flex-direction: column;
    height : 100vh;
}

header{
    display : flex;
    flex-direction : row;
    background : purple;
    margin-top : 20px;
    justify-content : space-between;
}

aside article{
    background-color: black;
    height : 100px;
    width : 100px;
}