section>header{
  height : 30vh;
  width : 100vw;
  background-color : white;
  display : flex;
  flex-direction : row;
  justify-content : center;
  border-bottom : 1px solid;
}

.section_click{
  display : flex;
}
.section_click_star{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  width : 17vw;
  height : 7vh;
}

.section_click_link{
  display : flex;
  width : 35vw;
  height : 7vh;
  justify-content : space-around;
  align-items : center;
}

.mini_image{
  width : 149px;
  height : 217px;
  position : relative;
  top : -20px;
}

.section_header{
  width : 60vw;
  margin : 20px 0 0 20px;
}

.section_header_title{
  font-weight : bold;
  font-size : 30px;
  margin-bottom : 10px;
}

.section_header_sub{
  margin-bottom : 20px;
  color : var(--color-grey);
}

.section_header_grade{
  font-weight : bold;
}

.section_header_box{
  height : 10vh;
}

.article_box{
  display : flex;
  justify-content : center;
  background-color : #F8F8F8;
  height : 100vh;
}

.article_left{
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  align-items : center;
  background-color : white;
  width : 45vw;
  margin-right : 20px;
  margin-top : 35px;
}

.article_right{
  width : 25vw;
  margin-top : 35px;
}

.information{
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  width : 40vw;
  height : 25vh;
  background-color : white;
}

.information_title{
  display : flex;
  justify-content : space-between;
}

.bold{
  font-size : var(--font-large);
  font-weight : bold;
}

.pink{
  font-size : var(--font-medium);
  color : var(--color-pink);
  font-weight : bold;
}
.ad_image{
  width : 25vw;
  height : 200px;
}

.people{
  display : flex;
  flex-direction : column;
  width : 40vw;
  height : 25vh;
}

.people_box{
  display : flex;
  flex-direction : row;
  width : 40vw;
  height : 25vh;
  margin-right : 10px;
}

.people_face{
  display : flex;
  flex-direction : row;
}

.people_title{
  font-size : var(--font-large);
  font-weight : bold;
  margin-bottom : 20px;
}

.people_name{
  width : 14vw;
}

.people_picture{
  width : 55px;
  height : 55px;
}
/* 코멘트 박스 */
.comment{
  display : flex;
  flex-direction : column;
  justify-content : space-around;
  height : 42vh;
  width : 40vw;
}

.comment_title{
  display : flex;
  justify-content : space-between;
}

.comment_boxs{
  overflow-x: auto;
  white-space: nowrap;
  display : flex;
}

.comment_box{
  width : 285px;
  height : 285px;
  background-color : #F2F2F2;
  margin-right : 10px;
}

.comment_information{
  height : 190px;
  width: 300px;
  white-space: normal;
}

.comment_name{
  display : flex;
  justify-content : space-around;
  align-items : center;
  height : 30px;
}

/* 오른쪽 배너 */
.image_text{
  background-color : white;
  display : flex;
  height : 100px;
  justify-content : space-around;
  align-items : center;
  margin-bottom : 20px;
}

.media{
  display : flex;
  background-color : white;
  flex-direction : column;
  height : 300px;
}

.photo, .video{
  margin : 20px;
}

.photo_image{
  width : 150px;
  height : 80px;
}

.image_text>button{
  background-color : var(--color-pink);
  color : white;
}

/* 별 찍기 */

.rating>i{
  font-size : 30px;
  margin-top : 10px;
}


.star {
  color: #ccc;
}

.star.filled {
  color: gold;
}