:root{
  /* color */
  --white-color:#FFFFFF;
  --pink-color: black;
  --blue-color:#4DADE0;
  --red-color:#FF0000;
  --grey-dark-coor:#909090;
  --grey-light-color:#e0e0e0;

  /* size */
  --padding : 12px;
  --avatar-size : 36px;
  --margin : 40px;
  /*font size*/
  --font-large: 18px;
  --font-medium: 14px;
  --font-small : 12px;
  --font-micro : 10px;
}

*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
}

body{
  font-family : Roboto;
}

ul{
  list-style : none;
}

button,
button:focus{
  border : none;
  cursor : pointer;
  outline : none;
  background : none;
}

header{
  display : flex;
  justify-content : space-between;
  padding : var(--padding);
  background-color : var(--pink-color);
  color : var(--white-color);
}

header .logo{
  font-size : var(--font-large);
}

header .logo i{
  color : var(--red-color);
}

header .icons .fa-search{
  margin-right : var(--padding);
}

/* Video player */
.player{
  position : sticky;
  top : 0;
  text-align : center;
  background-color : var(--pink-color);
}

.player video{
  width : 100%;
  height : 100%;
  max-width : 1000px;
}

.info{
  padding : var(--padding);
}

.info .metdata .hashtages{
  display : flex;
  font-size : var(--font-small);
  color : var(--blue-color);
}

.info .metdata .hashtages li{
  margin-right : var(--padding);
}

.info .metdata .titleAndButton{
  display : flex;
}

.info .metdata .titleAndButton .title{
  font-size : var(--font-medium);
  display : -webkit-box;
  -webkit-box-orient : vertical;
  -webkit-line-clamp: 2;
  overflow : hidden;
  margin-right : var(--padding);
}

.info .metdata .titleAndButton .moreBtn{
  height : 100%;
}

.info .views{
  font-size : var(--font-small);
  color : var(--grey-dark-color);
  margin : var(--padding) 0;
}

.actions{
  display : flex;
  justify-content : space-around;
}

.actions button{
  display : flex;
  flex-direction : column;
  font-size: var(--font-small);
  color : var(--grey-dark-color);
}

.info .actions button i{
  margin : 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size : 16px;
}

.info .actions button i.active{
  color : var(--blue-color);
}

.info .channel{
  display : flex;
  justify-content : space-between;
  border-top : 1px solid var(--grey-light-color);
  border-bottom : 1px solid var(--grey-light-color);
}

.info .channel .metadata{
  display : flex;
  align-items : center;
}


.info .channel .metadata img{
  width : var(--avtar-size);
  height : var(--avatar-size);
  border-radius : 50%;
}

.info .channel .metadta .info{
  display : flex;
  flex-direction : column;
}

.info .channel .metadata .info .subscribers{
  font-size : var(--font-small);
  color : var(--grey-dark-color);
}

.info .channel .subscribers{
  text-transform : uppercase;
  color : var(--red-color);
  font-size : var(--font-medium);
}

.UpNext{
  padding : 0 var(--padding);
}

.UpNext > .title{
  font-size: var(--font-medium);
  color : var(--grey-dark-color);
  margin-bottom : calc(var(--padding) /2);
}

.UpNext .item{
  display : flex;
}

.UpNext .item .img{
  flex : 1 1 35%;
}

.UpNext .item .img img{
  width : 100%;
}

.UpNext .item .info{
  flex : 1 1 60%;
}

.UpNext .item .moreBtn{
  flex : 1 1 5%;
}

.upNext .item .info{
  display :flex;
  flex-direction : column;
}