main>.section1{
  display : flex;
  flex-direction : column;
  align-items : center;
}

.image,.image1{
  display: flex;
  flex-direction : row;
}

.image>.list_movie>img{
  height : 320px;
  width : 235px;
  margin : 0 20px 4px 0;
}


/* 영화순위 박스 */
.number_box_4lines{
  display : flex;
  align-items : center;
  justify-content : center;
  position : relative;
  z-index : 0;
  top : -395px;
  left : 5px;
  background-color : black;
  color : white;
  width : 25px;
  height : 25px;
  opacity : 70%;
  border-radius : 2px;
}

.number_box_3lines{
  display : flex;
  align-items : center;
  justify-content : center;
  position : relative;
  z-index : 0;
  top : -377px;
  left : 5px;
  background-color : black;
  color : white;
  width : 25px;
  height : 25px;
  opacity : 70%;
  border-radius : 2px;
}


/* 영화 제목 등 글자간격 조절 */
.image>.list_movie>.title{
  margin-bottom : 5px;
}
.image>.list_movie>.medium{
  margin-bottom : 5px;
}
.image>.list_movie>.star{
  margin-bottom : 5px;
}
.image>.list_movie>.mini{
  margin-bottom : 5px;
}

.list_movie{
  display : flex;
  flex-direction : column;
}
.section_text{
  font-size : var(--font-large);
  font-weight : bold;
  margin-bottom : 10px;
}

.section_text{
  margin-top: 30px;
}
.image>img, .image1>img{
  margin : 0 5px 0;
}

/* 영화 제목,글자 속성 */
.list_movie>.title{
  font-size : 16px;
  font-weight : bold;
}

.list_movie>.medium{
  font-size : var(--font-medium);
}

.list_movie>.mini{
  font-size : var(--font-small);
  color : grey;
}

.list_movie>.star{
  font-size : var(--font-medium);
  color : #555765;
}
